{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
    <dl>
        <dt>Title:</dt>
            <dd><input type="text" size="30" name="title"></dd>
        <dt>Text:</dt>
            <dd><textarea name="text" rows="5" cols="40"></textarea></dd>
        <dt>Category:</dt>
            <dd><input type="text" size ="30" name="category"></dd>
            <dd><input type="submit" value="Share"></dd>
    </dl>
  </form>

  <form action="{{ url_for('filter_entries') }}" method="post">
    <p>Filter by Category:</p>
    <select name="category" id="category">
        <option value="">I don't want to filter!!!</option>
        {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Filter">
  </form>

  <ul class="entries">
      {% for entry in entries %}
        <li><h2>{{ entry.title }}</h2>
            <p>Category: {{ entry.category|safe }}</p>
            {{ entry.text|safe }}</li>
      {% else %}
        <li><em>Unbelievable.  No entries here so far</em></li>
      {% endfor %}
  </ul>
{% endblock %}
